name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        folder:
          - "."
          - "examples/simple"
          - "examples/aggregate"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
      - name: Test ${{ matrix.folder }}
        working-directory: ${{ matrix.folder }}
        run: bazel test //...
